@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

a{color: inherit; text-decoration: none;}
h1{font-size: 2em; font-weight:bold} 
h2{font-size: 1.875em; font-weight:bold}
h3{font-size: 1.25em; font-weight: bold;}
body{font-family: 'Noto Sans KR', sans-serif; font-weight: 100;background-color: #282c34;}

#wrap {width: 1140px; border: 1px solid red; margin: 0 auto;}
header{padding: 40px 0; text-align: center; color: #fff;}
header a {color: white;}
header .photo{width: 250px;height: 250px;border-radius: 50%; margin: 0 auto; overflow: hidden; border: 12px solid rgba(0,0,0,.3);}
header .photo img {width: 100%;}

header ul{margin: 20px 0; line-height: 1.5;}
header ul li{font-size: 22px; margin: 0 5px;}

header dl{width: 380px;margin: 0 auto;line-height: 1.5; overflow: hidden;}
header dl dt{font-size: 28px;font-weight: bold;}
header dl dd{font-size: 20px;width: 50%;float: left;text-align: center;}
header dl dd img{margin-right: 5px;}

header .resume a{display: inline-block;width: 400px;height: 40px;line-height: 40px;margin-top: 30px;border-radius: 20px;background-color: white;font-size: 18px;color: #282c34;font-weight: 500;box-shadow: 1px 1px 3px yellowgreen, -1px -1px 3px yellowgreen}

/* 포트폴리오 영역 */
#portfolio_wrap{border-radius: 50px;overflow: hidden;background-color: #ccc;}
#portfolio_wrap .main_visual{height: 250px; margin-bottom: 50px;background:url(../images/main_image.jpg) center top no-repeat;overflow: hidden;}
#portfolio_wrap h2, h3{text-align: center;margin: 20px 0;}
#portfolio_wrap h2{font-size: 40px; padding-top: 50px;text-shadow: 1px 1px 1px red;}
/* letter-spacing: 3px 자간*/
#portfolio_wrap h3{letter-spacing: 3px;}
#portfolio_wrap mark{font-style: italic;}

.video_wrap{display: flex; flex-wrap: wrap;justify-content: space-around;}
.video_wrap div{width: 43%;border-radius: 30px;margin: 15px 0;background-color: #fff;overflow: hidden;transition: .5s;}
.video_wrap div:hover{box-shadow: 0 0 20px rgba(0,0,0,.3);}
.video_wrap a{display:block;}
.video_wrap div img{width: 100%;}
.video_wrap dl{padding:20px;text-align: center;}
.video_wrap dt{font-size: 25px;font-weight: bold;margin-bottom: 10px;}
.video_wrap em{display: block;padding-bottom: 10px;}

/* footer */
footer{height: 200px;line-height: 100px; margin: 25px 0;background-color: #eee;border-radius: 50px;text-align: center;}
footer p{color: #333;font-weight: 300;}
footer img{margin: 0 5px;}

/* 961~1240 */
@media (max-width:1240px){
    #wrap{width: 96%;}
    .video_wrap div{width:300px;height: 300px; border-radius: 150px;}
    .video_wrap em {display: none;}
}

/* 541~960 */
@media (max-width:960px){
    #wrap{width: 100%;}
    #portfolio_wrap{border-radius:0}
    #portfolio_wrap .main_visual{height: 180px;margin-bottom:20px;}
    #portfolio_wrap h2{padding-top: 25px;}
    .video_wrap div{width:48%;border-radius: 20px;}
    .video_wrap div p{height: 180px;overflow: hidden;}
    .video_wrap div dt{margin-top: 15px;}
    footer{height: 100px;margin: 1px 0 12px;border-radius: 0;}
    footer p:nth-of-type(2){height: 100px;line-height: 100px;}
    footer p:nth-of-type(2) img{vertical-align: middle;}
}

/* 0~540 */
@media(max-width:540px){
    header{padding-bottom:12px}
    header .photo{margin:100px auto 20px}
    header ul{position: absolute; top: 15px;left:50%; transform:translateX(-50%);}
    header ul li{font-size: 28px;font-weight: 500;}
    header ul li:nth-of-type(2){font-size: 22px;}
    header ul li span{display: none;}
    header dl {width: 340px;}
    header dl dd{font-size: 17px;} /* 더 작은 화면에서 짜부되지말라고 적은 것 */
    header .resume a{height:100%;line-height: 80px;margin-top: 32px;border-radius: 0;background-color: #ccc;font-size: 24px;box-shadow:none}
    .video_wrap div {width: 100%; height: 200px;margin:5px 0;border-radius: 0;position: relative;}
    .video_wrap div p {height:200px;border-radius: 0;}
    .video_wrap div p img{width: auto;height: 200px;}
    .video_wrap dl {width:30%;height:200px;position: absolute;top: 0;right: 0;padding: 0;background-color: #fff;}
    .video_wrap dl dt {margin-top:55px}
    .video_wrap em{display: block;}
}